{% extends "base.html" %}

{% block head %}

<title>About | KnowledgeTester</title>

{% endblock %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="about-content col-lg-7 col-md-12 p-3">
            <h2 style="color: #11101d;">About Us</h2>
            <p style="color: #1D1B31;">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eum laborum totam harum maxime, eaque
                accusantium quo reiciendis hic quia beatae vero incidunt sequi, sapiente nisi provident voluptates alias
                quibusdam nobis, repudiandae nostrum libero dolores tenetur. Ad adipisci perspiciatis cumque! Corrupti
                perferendis id dolorum labore voluptatem beatae harum assumenda, soluta ea facere cum nesciunt, animi ex
                odit rem possimus, omnis eligendi impedit maiores ipsum sed sint explicabo veritatis. Repellat
                recusandae esse culpa mollitia asperiores reiciendis quas odit suscipit perferendis commodi, quasi id
                quisquam laudantium vitae nesciunt sed voluptates veritatis assumenda? Explicabo, obcaecati. Praesentium
                eius explicabo alias, voluptatum vel nobis magni quia!
            </p>
            <p style="color: #1D1B31;">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio totam quia, iure earum in dolorum vel
                nostrum, aperiam non magnam maiores quaerat nobis ipsum consequatur magni, corrupti impedit minima
                debitis sequi vitae laudantium iste quod? Neque voluptas eius voluptatum fugit aliquid natus assumenda
                enim, repellendus odit fugiat? Corporis eum velit quis ipsa vel, quas, odio deserunt sapiente ad sunt
                enim corrupti impedit explicabo assumenda quibusdam quidem eaque accusantium nobis quos nihil.
                Voluptatem odit omnis at est in? Quos facilis corrupti consequuntur maiores maxime tempora illum
                voluptate rem nulla veritatis, autem placeat nemo veniam beatae vel eveniet doloribus eligendi
                architecto quas!
            </p>
        </div>
        <div class="col-1"></div>
        <div class="about-features col-lg-4 col-md-12 p-3">
            <h2 style="color: #11101d;">Features</h2>
            <p style="color: #1D1B31;"><i style="color: green;" class="fas fa-check-circle"></i> Founded in 2021</p>
            <p style="color: #1D1B31;"><i style="color: green;" class="fas fa-check-circle"></i> Helping Students All Over The Globe</p>
            <p style="color: #1D1B31;"><i style="color: green;" class="fas fa-check-circle"></i> Top Quality Questions</p>
            <p style="color: #1D1B31;"><i style="color: green;" class="fas fa-check-circle"></i> Completely Free To Use</p>
            <p style="color: #1D1B31;"><i style="color: green;" class="fas fa-check-circle"></i> 24/7 native support</p>
        </div>
    </div>
</div>

{% endblock %}