{% extends 'base.html' %}

{% block head %} <title>Home | KnowledgeTester</title> {% endblock %}

{% block body %}

<div class="container text-center">
    <img class="img-fluid" src="{{ url_for('static', filename='images/full_logo.png') }}">
    <form method="POST">
        <div class="col-md-4 offset-md-4 mt-5 pt-3">
            <div class="input-group mb-3">
                <input name="query" type="text" class="form-control" placeholder="Search ...">
                <div class="input-group-append">
                    <button class="btn btn-outline-info" type="submit"><i class="fa fa-search"></i></button>
                </div>
            </div>
        </div>
    </form>
</div>


{% endblock %}